$color-reddish:#d32f2f;
$color-white:#ffffff;
$color-dark:#232635;
$color-dark-slate-blue:#253d5f;
$color-white-two:#efeded;
$color-warm-grey:#707070;
$color-dull-orange:#d69b53;
$color-black:#1d1d1d;
