html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $BaseFontFamily;
    font-weight:400;
    color: $color-warm-grey
}

a {
    color: inherit;
    transition: color 300ms ease-in-out;

    &:hover {
        color: inherit;
        text-decoration: none
    }
}

main {
    transition: all 300ms ease;
    margin-left: auto;
    will-change: transform,opacity;

    @include media-breakpoint-up(md) {
        max-width: 100% - calcPercent(143.1,1920);
    }

    section + section:not(.mt-0) {
        $mt: calcPercent(162,1080) * 1%;
        margin-top: $mt;
    }
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom:0
}

figure {
    margin-bottom: 0
}

.btn {
    font-family: $BaseFontFamily;
    font-weight: 400;
    font-style: normal;
    border-radius: 50px;
    line-height: 1;

    &.btn-dull-orange {
        background-color: $color-dull-orange;
        color: $color-white;
    }
}

.form-control {
    border-radius: 0;

    &.bg-transparent {
        background-color: transparent;
    }

    &.border-underline {
        border-left:none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid $color-white;
    }

    &:focus {
        outline: none;
        box-shadow: none
    }
}

.overflow-hidden {
    position: fixed;
    overflow: hidden;
}