body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

.section {

    &-main {
        position: relative;

        &__headings {
            font-size: calculate(25,35,320,1920);
            font-weight: 400;
            letter-spacing: calculate(10.5,17.5,320,1920);
            color: $color-dark;
            line-height: 1.43;
        }
    }

    &-headings {
        font-weight: 700;

        &--black {
            font-weight: 900
        }
    }
}

.text-dark {
    color: $color-dark;
}