.font {
    &__size {
        &--sm {
            font-size: 16px;
        }

        &--md {
            font-size: 22px;
        }

        &--lg {
            font-size: 28px;
        }

        &--xl {
            font-size: 35px;
        }
    }

    &__weight {
        &--black {
            font-weight: 900;
        }
    }
}

.section-title {
    font-family: $BaseFontFamily;
    line-height: 1.17;
    letter-spacing: normal;
}

.section {
    position: relative;
    text-align: center;

    &__title {
        font-family: $BaseFontFamily;
        line-height: 1.43;
        letter-spacing: calculate(13.5,17.5,320,1920);
    }

    + * {
        $mt: calcPercent(26,1080) * 1%;
        margin-top: $mt !important;
    }
}