.header {
    background-color: $color-reddish;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: transform 350ms ease-out;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    color: $color-white;

    @include media-breakpoint-up(md) {
        $width: calcPercent(413, 1920) * 1%;
        width: $width;
    }

    ~ main * {
        transition: all 750ms ease-in-out;
        transition-delay: 50ms
    }

    &__icon {
        display: inline-block;
        $width: calcPercent(83.5, 375) * 1%;
        position: relative;
        width: $width;

        @include media-breakpoint-up(md) {
            width: calculate(83.5, 173, 768, 1920);

            img {
                width: 100%
            }
        }
    }

    .side-nav {
        position: relative;

        &__menu {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            width: 100%;

            &-item {
                color: $color-white;
            }

            &-link {
                display: block;
                font-size: 20px;
                font-weight: 300;
                line-height: 2.25;
                letter-spacing: 1px;
                text-align: center;

                @include media-breakpoint-up(md) {
                    font-size: calculate(14, 20, 768, 1920);
                }

                &[data-dismiss="header"] {
                    position: relative;
                    display: inline-block;
                    font-size: 14px;
                    letter-spacing: 4.2px;
                    line-height: 1.14;
                    font-weight: 400;
                    width: 100%;
                    margin-top: 1rem;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 50%;
                        height: 1px;
                        background-color: $color-white;
                        transform: translateX(50%);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 50%;
                        height: 1px;
                        background-color: $color-white;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    .social {
        &__menu {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-item {
                position: relative;

                + * {
                    margin-left: .5rem
                }
            }

            &-link {
                border: 2px solid $color-white;
                border-radius: 100%;
                width: 36px;
                height: 36px;
                display: inline-block;
                line-height: 2.1;
            }
        }
    }

    &:not(.is-shown) {
        transform: translateX(-100%);

        @include media-breakpoint-up(md) {
            $transformAmount: calcPercent((413-141.3), 413) * 1%;
            transform: translateX(-$transformAmount);
        }

        > *:not(.header__trigger) {
            opacity: 0;
        }
    }

    &.is-shown {

        .header__trigger {
            font-size: 10px;
            line-height: 1.1;
            letter-spacing: 3px;

            &-icon {
                opacity: 1;
            }
        }

        ~.header__mobile-trigger,
        ~.book-now__mobile-trigger {
            display: none;
        }

        ~ main {
            > * {
                &:not(.full-bg-image) {
                    opacity: 0;
                }

                &.full-bg-image {
                    height: 100vh;
                }
            }
            
            
        }
    }

    &__mobile-trigger {
        position: fixed;
        bottom: 18px;
        right: 18px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: $color-reddish;
        width: 70px;
        height: 70px;
        color: $color-white;
        font-size: 7px;
        line-height: 1.14px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        z-index: 10;

        &:visited {
            color: $color-white
        }

        i {
            font-size: 24px;
            object-fit: contain;
            line-height: 1.21;
            margin-bottom: .5rem
        }

        @include media-breakpoint-up(md) {
            display: none
        }
    }

    &__footer {
        > * {
            &:nth-child(1) {
                @include media-breakpoint-down(sm) {
                    display: none;
                }

                > *:last-child {
                    margin-top: .5rem
                }
            }

            + .row {
                margin-top: 1rem
            }
        }
    }

    &__trigger {
        display: none;
        position: relative;
        $amount: (768 * 16) / 1920 * 1.25;
        font-size: calculate($amount,16,768,1920);
        letter-spacing: calculate(1.8,4.8,768,1920);
        font-weight: 400;
        line-height: 1.19;
        transition: all .3s ease-in-out;
        
        @include media-breakpoint-up(md) {
            display: inline-block;
            position: absolute;
            right: 15%;
            transform: rotate(-90deg) translateX(50%);
            transform-origin: right bottom;

            &-icon {
                opacity: 0;
                font-size: 19px;
                position: absolute;
                left: 50%;
                transform: translate(-50%,-100%);
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $color-white;
                transform: translateX(-120%)
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                right: 0;
                height: 1px;
                width: 100%;
                background-color: $color-white;
                transform: translateX(120%)
            }
        }
    }
}

.book-now__mobile-trigger {
    $width: calcPercent(240, 375) * 1%;

    position: fixed;
    left: 18px;
    bottom: 18px;
    z-index: 10;
    width: $width;
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 3.5px;

    @include media-breakpoint-up(md) {
        display: none
    }

    .btn__icon--fixed {
        // height: 70px - 36px;
    }

    .btn {

        &__icon {
            position: relative;
            padding-right: 18px;
            width: 49.65px;
            height: auto;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background-color: #fff;
            }

            +* {
                padding-left: 18px;
            }
        }
    }
}