.header {
    $widthAmount: calcPercent(413,1920) * 1%;
    $leftAmount: calcPercent((413 - 143.1),1920) * 1%;

    position: fixed;
    top: 0;
    left: -$leftAmount;
    width: $widthAmount;
    height: 100%;
    background-color: $color-reddish;
    color: $color-white;
    z-index: 9;
    transition: all 0.33s cubic-bezier(0.33, 0, 0.2, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-right: 40px;

    &__logo {
        max-width: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;

        &-link {
            display: block;
            width: 100%;
            $mw: calcPercent(173,413) * 1%;
            max-width: $mw;
            margin-left: auto;
            margin-right: auto;
            transition: all 300ms ease-in-out;
        }
    }


    &:not(.is-shown) {

        .header-trigger {
            font-size: calculate(12, 16, 320, 1920);
            letter-spacing: calculate(2.4, 4.8, 320, 1920);
        }

        > *:not(.header-trigger) {
            opacity: 0;
        }
    }

    &.is-shown {
        left: 0;

        > *:not(.header-trigger) {
            transition-delay: 325ms
        }

        .header-trigger {
            font-size: 10px;
            letter-spacing: 3px;
        }

        + main {
            * {
                transition: all 500ms ease-in-out;
            }

            >*:not(.full-bg-image) {
                opacity: 0;
                visibility: hidden
            }

            .full-bg-image {
                height: 100vh;
            }
        }
    }

    .header-trigger {
        position: absolute;
        right: 14%;
        top: 50%;
        line-height: 1.19;
        color: $color-white;
        display: inline-block;
        font-weight: 400;
        transform: rotate(270deg) translateX(50%);
        transform-origin: right bottom;
        transition: font-size 300ms ease;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            left: -115%;
            background-color: $color-white
        }

        &:after {
            content: "";
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            right: -115%;
            background-color: $color-white
        }
    }

    .side-nav {
        position: relative;
        color: $color-white;

        margin-top: 9vh;

        &__menu {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            &-item {
                text-align: center;

                .side-nav__link {
                    font-size: calculate(14,18,320,767);
                    font-weight: 300;
                    line-height: 2.25;
                    transition: color 330ms ease-in-out;

                    @include media-breakpoint-up(md) {
                        font-size: calculate(12,20,768,1920);
                    }

                    &:hover {
                        color: $color-dark
                    }
                }
            }
        }
    }

    .side-footer {
        .social__menu {
            list-style: none;
            padding-left: 0;
            margin-bottom: 5vh;

            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            &-item {
                text-align: center;
                
                .social__link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    border: 2px solid $color-white;
                }

                + .social__menu-item {
                    margin-left: 1rem
                }
            }
        }
    }

    .side__link {
        display: block;
        font-size: calculate(18,28,768,1920);
        text-align: center;
        line-height: 1.18;
        letter-spacing: calculate(0.7,1.4,768,1920);

        margin-bottom: 2vh;
    }
}